<div class="container">
  <div class="col-8">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <%= f.submit "Let me in!", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>