<% object.each do |obj| %>
  <div class="card my-2 my-lg-4">
    <div class="card-body">
        <h5 class="card-title red-me">
          <%= link_to Event.find(obj.id).name, event_url(obj.id) %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Location: <%= Event.find(obj.id).location %>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Date: <%= Event.find(obj.id).date.strftime("%B %d, %Y | %l:%M %p") %>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Created By: <%= User.find(Event.find(obj.id).creator_id).username %>
        </h6>
    </div>
  </div>
<% end %>