/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Signika");

* {
  font-family: "Signika", sans-serif;
}

li {
  list-style: none;

  a {
    color: black;
  }
}

.red-me:hover {
  text-decoration: underline;
  text-decoration-color: #ff4000;
}

a.mybutton {
  text-decoration: none;
  color: black;
}

.card {
  background-color: #f2f2f2;
}

.card:hover {
  box-shadow: 6px 6px 1px 1px #ff4000;
}

form {
  margin-top: 5rem;
}
